// Базовые стили элементов, выраженные через текстовые стили и цветовые токены из Figma.

@use '../shared/styles/abstracts' as *;

body {
  color: var(--additional-gray-900);
  background-color: var(--additional-white-50);
}

h1 {
  @include text-style('heading-30-medium');
}

h2 {
  @include text-style('heading-20-medium');
}

h3 {
  @include text-style('heading-14-medium');
}

.layout {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: var(--spacing-24);
}