// Базовые стили элементов, выраженные через текстовые стили и цветовые токены из Figma.

@use "../shared/styles/abstracts" as *;

body {
  background-color: var(--additional-white-50);
  color: var(--additional-gray-900);
  font-family: var(--font-family-body);
}
